# Working with Text Files and Databases

In [2]:
print("Hello World")

Hello World

## Reading a text file

In [2]:
with open(file="data\script.txt", mode = 'r') as file:
    # Read the file each line at a time
    text = file.readlines()
    print(text)

['This is a test file\n', 'Reading this file in Anaconda\n', 'Thanks']

In [3]:
with open(file="data\script.txt", mode = 'r') as file:
    # Read the entire file 
    text = file.read()
    print(text)

This is a test file
Reading this file in Anaconda
Thanks

## Using the JSON module

JSON looks very much like a dictionary in Python. JavaScript Object Notation (JSON) is a text-based format for representing and storing data and is mostly used for web applications. We can use JSON to save data to a text file or to transfer data to and from an Application Programming Interface (API).

In [9]:
import json

data_dictionary = { "books": 12, "articles": 100, "subjects": ["math", "programming", "data science"]}

# Convert the data dictionary above to a JSON
json_string = json.dumps(data_dictionary)
print(json_string)

{"books": 12, "articles": 100, "subjects": ["math", "programming", "data science"]}

In [10]:
# Convert the above json to a dictionary
new_data_dictionary = json.loads(json_string)

print(new_data_dictionary)

{'books': 12, 'articles': 100, 'subjects': ['math', 'programming', 'data science']}

In [12]:
# Saving JSON

with open(file="data\json_text_file.json", mode = "w") as file:
    # Remember to first convert the json to a dictionary then save the dictionary as a json
    json.dump(data_dictionary, file)

## Working with SQLITE

In [2]:
import sqlite3

connection = sqlite3.connect(r"data\chinook.db")

cursor = connection.cursor()

In [15]:
# Perofrm SQL commands

cursor.execute("SELECT * FROM ARTISTS LIMIT 10;")

# Retrieve the results of the querry
cursor.fetchall()

[(1, 'AC/DC'),
 (2, 'Accept'),
 (3, 'Aerosmith'),
 (4, 'Alanis Morissette'),
 (5, 'Alice In Chains'),
 (6, 'Ant√¥nio Carlos Jobim'),
 (7, 'Apocalyptica'),
 (8, 'Audioslave'),
 (9, 'BackBeat'),
 (10, 'Billy Cobham')]

In [16]:
# Specify the Querry
querry = """
SELECT Total,
       BillingCountry
FROM Invoices
WHERE BillingCountry == "Canada"
LIMIT 5;
"""

# Execute the Querry
cursor.execute(querry)


# Fetch the results of the Querry
cursor.fetchall()

[(8.91, 'Canada'),
 (8.91, 'Canada'),
 (0.99, 'Canada'),
 (1.98, 'Canada'),
 (13.86, 'Canada')]

In [17]:
# Specify the Querry
querry = """
SELECT Total,
       BillingCountry
FROM Invoices
WHERE BillingCountry LIKE "%can%"
LIMIT 5;
"""

# Execute the Querry
cursor.execute(querry)


# Fetch the results of the Querry
cursor.fetchall()

[(8.91, 'Canada'),
 (8.91, 'Canada'),
 (0.99, 'Canada'),
 (1.98, 'Canada'),
 (13.86, 'Canada')]

In [18]:
# Specify the Querry
querry = """
SELECT SUM(Total),
       BillingCountry
FROM Invoices
GROUP BY BillingCountry
ORDER BY SUM(Total) DESC
LIMIT 5;
"""

# Execute the Querry
cursor.execute(querry)


# Fetch the results of the Querry
cursor.fetchall()

[(523.0600000000003, 'USA'),
 (303.9599999999999, 'Canada'),
 (195.09999999999994, 'France'),
 (190.09999999999997, 'Brazil'),
 (156.48, 'Germany')]

In [19]:
# Specify the Querry
querry = """
SELECT Invoices.BillingCountry,
       Invoice_items.TrackId
FROM Invoices
JOIN Invoice_items
ON Invoices.InvoiceId = Invoice_items.InvoiceId
LIMIT 5;
"""

# Execute the Querry
cursor.execute(querry)


# Fetch the results of the Querry
cursor.fetchall()

[('Germany', 2), ('Germany', 4), ('Norway', 6), ('Norway', 8), ('Norway', 10)]

In [21]:
# For information on the table, use the command below

querry = """
PRAGMA table_info(Invoices)
"""

# Execute the Querry
cursor.execute(querry)


# Fetch the results of the Querry
cursor.fetchall()

[(0, 'InvoiceId', 'INTEGER', 1, None, 1),
 (1, 'CustomerId', 'INTEGER', 1, None, 0),
 (2, 'InvoiceDate', 'DATETIME', 1, None, 0),
 (3, 'BillingAddress', 'NVARCHAR(70)', 0, None, 0),
 (4, 'BillingCity', 'NVARCHAR(40)', 0, None, 0),
 (5, 'BillingState', 'NVARCHAR(40)', 0, None, 0),
 (6, 'BillingCountry', 'NVARCHAR(40)', 0, None, 0),
 (7, 'BillingPostalCode', 'NVARCHAR(10)', 0, None, 0),
 (8, 'Total', 'NUMERIC(10,2)', 1, None, 0)]

The last column of the results is the pk field, meaning "primary key." If the value is a 1, it is a primary key. We can see from the results that InvoiceId is the primary key column in the invoices table.

In [24]:
querry = """
SELECT 
    invoice_items.TrackId,
    COUNT(invoice_items.TrackId),
    invoices.BillingCountry
FROM invoices
JOIN invoice_items
ON invoices.InvoiceId = invoice_items.InvoiceId
GROUP BY invoices.BillingCountry
ORDER BY COUNT(invoice_items.TrackId) DESC
LIMIT 5;
"""
# Execute the Querry
cursor.execute(querry)


# Fetch the results of the Querry
cursor.fetchall()

[(99, 494, 'USA'),
 (42, 304, 'Canada'),
 (234, 190, 'France'),
 (738, 190, 'Brazil'),
 (2, 152, 'Germany')]

Close the Database Connection

In [25]:
connection.close()

## Creating a SQLite Databases and Storing Data

We can see the data is stored in a list since the outer brackets are square brackets. Each element in the list is a tuple since it is surrounded by parentheses. We have the data in the order of date, book title, price, and quantity. We use a tuple for each data row because that is implicitly recommended by Python's sqlite documentation (https://docs.python.org/3/library/sqlite3.html) , although we can also use a list. Tuples are a good idea to use when inserting data into a SQL database because they are immutable, meaning they can't be changed.

This means our data can't be inadvertently changed by a mistake in our code before we enter it into the database or purposefully changed by a hacker (once it's a tuple - it could be changed earlier if it was a list). We can convert a list to a tuple with tuple(), in the form of tuple([1, 2, 3])

In [1]:
# Data to be inserted into DB
book_data = [
    ('12-1-2020', 'Practical Data Science With Python', 19.99, 1),
    ('12-15-2020', 'Python Machine Learning', 27.99, 1),
    ('12-17-2020', 'Machine Learning For Algorithmic Trading', 34.99, 1)
]

In [3]:
import sqlite3

# Create a connection to a DB - DB will be created if it does not exist
connection = sqlite3.connect(r'data\book_sales.db') 

cursor = connection.cursor()

## Table Creation

The query below uses a multi-line string with triple single quotes surrounding it. We title our table book_sales and provide the column names and datatypes for each column next to them, separated by commas. For example, the first column is date with a text datatype. We also surround the set of column names and datatypes with parentheses. Once we have created the table, we cannot create it again in the same database, or it throws an error. However, adding the IF NOT EXISTS statement enables us to run the CREATE TABLE command, and it will not return an error if the table already exists. If we needed to delete the table to start over, we could use the DROP TABLE book_sales; command.

Once the table is created, we can insert data with the INSERT INTO command:

In [4]:
# Create a Table in the DB
cursor.execute("""CREATE TABLE IF NOT EXISTS book_sales (
            DATE TEXT,
            BOOK_TITLE TEXT,
            PRICE REAL,
            QUANTITY REAL
)
""")

## Inserting Records

We specify the table name after the INSERT INTO command, then use the VALUES keyword, followed by our data to insert into each of the columns. Here, we are using question mark placeholders, which derive their values from the second argument we give to cursor.execute(). We should have one value or placeholder for each column. Next, we supply book_data as the second argument to cursor.execute(), but we only supply the first element of the list with book_data[0]. The question mark placeholders are then replaced by each value in the tuple from book_data[0] when the query is executed. We can also use string formatting to place our values into the query, but this is not recommended. String formatting of SQL queries is a little less safe because we can suffer from a SQL injection attack. For example, if a hacker was able to put an arbitrary string into our SQL query, they could insert something like ; DROP TABLE book_sales;, which would delete the data in the book_sales table.

After inserting the data, we need to call connection.commit() to save the changes. Otherwise, the data will not persist in the database. We now have the first row of our data in the database. We can check that it's there with a simple SELECT statement:

In [5]:
# Insert a single record into the TABLE
cursor.execute("INSERT INTO book_sales VALUES (?, ?, ?, ?)", book_data[0])

# Persist the Data
connection.commit()

## Query the DB Table

We can check that it's there with a simple SELECT statement:

In [6]:
# Perform the SELECT Query
cursor.execute("SELECT * FROM book_sales;")

# Fetch the Results
cursor.fetchall()

[('12-1-2020', 'Practical Data Science With Python', 19.99, 1.0)]

## Inserting MANY Records

We can also use the executemany() method to insert several data records at once, like so:

In [7]:
# Inserting several records
cursor.executemany('INSERT INTO book_sales VALUES (?,?,?,?)', book_data[1:])

# Persist the Data 
connection.commit()

# Close the connection 
connection.close()

## Using the SQLAlchemy Package

In the example below, we first import the create_engine function from the SQLAlchemy package, then connect to our database file with that function. We are using the relative path to the database file here, but absolute paths are allowed as well. The database type, a colon character, then three forward slashes (///) is the typical pattern for the beginning of a SQLAlchemy connection string. We then initiate a connection to the database with engine.connect().

In [8]:
from sqlalchemy import create_engine
# Refer to the absolute path of the sqlite DB
engine = create_engine(r'sqlite:///C:\Users\INNO\Documents\Python Development\Practical Data Science\data\book_sales.db')
connection = engine.connect()

In [19]:
# Retrieve Data from the DB
result = connection.execute("select * from book_sales")

# The command above returns a sqlalchemy class
type(result)

sqlalchemy.engine.cursor.LegacyCursorResult

In [18]:
# We can retrieve the result using 
list(result)

[]

In [20]:
for row in result:
    print(row)

('12-1-2020', 'Practical Data Science With Python', 19.99, 1.0)
('12-15-2020', 'Python Machine Learning', 27.99, 1.0)
('12-17-2020', 'Machine Learning For Algorithmic Trading', 34.99, 1.0)

In [21]:
# Close the Connection
connection.close()

In [22]:
with engine.connect() as connection:
    result = connection.execute("select * from book_sales")
    for row in result:
        print(row)
#  Remember that we have a colon character at the end of the 
# with statement. After we stop indenting lines, the connection is automatically closed.

('12-1-2020', 'Practical Data Science With Python', 19.99, 1.0)
('12-15-2020', 'Python Machine Learning', 27.99, 1.0)
('12-17-2020', 'Machine Learning For Algorithmic Trading', 34.99, 1.0)

## Inserting Records with SQL Alchemy

It's also possible to insert data into SQL tables with SQLAlchemy. We can use the same method we used with sqlite3, which is demonstrated in the documentation at https://docs.sqlalchemy.org/en/13/core/connections.html#sqlalchemy.engine.Connection.execute.

Another more advanced paradigm for inserting data is possible in SQLAlchemy as well, which is demonstrated in the tutorial in the documentation at https://docs.sqlalchemy.org/en/14/core/tutorial.html.

This more advanced paradigm allows us to insert a row of data without specifying data for all the columns, and looks like this:

In [23]:
from sqlalchemy import MetaData, Table
from sqlalchemy.sql import select
metadata = MetaData(engine)
book_sales = Table('book_sales',
                  metadata,
                  autoload=True)
conn = engine.connect()
ins = book_sales.insert().values(
        BOOK_TITLE='machine learning',
        PRICE='10.99')
conn.execute(ins)